/*Project Slider Section*/
.slide-title{
  position:absolute;
  top: 1650px;
  right:390px;
  color:#FFF;
  font-size:50px;
  font-weight:200px;
  font-family:'Break',sans-serif;
  font-weight:bold;
}

.slider-body{
  display:flex;
  align-items: center;
  justify-content: flex-end;
  position:absolute;
  top: 1750px;
  right:60px;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

section .card .img{
  height: 180px;
  width:180px;
  border-radius:50%;
  padding:3px;
}

section .card .img img{
  object-fit: cover;
  height:100%;
  width:100%;
  border-radius: 50%;
  padding:5px;
  background:#FFF;
}

.card{
  position: relative;
  background:rgb(35,33,35);
  border-radius:20px;
  display:flex;
  padding:20px;
  align-items:center;
  flex-direction:column;
  width:115%;
}

.swiper{
  width:900px;
}

.project-name{
  font-family:'Moon Light',sans-serif;
  font-size:15px;
}
